<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBr0v7sAv1SucB5jY50_VUSr_USA1KiFyo</string>
	<key>GCM_SENDER_ID</key>
	<string>1092325822218</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dadQuizApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>fir-dad-quiz</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-dad-quiz.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1092325822218:ios:074a3ee745142eb1fe34f3</string>
</dict>
</plist>